<d-layout class="layout-wrapper">
  <d-aside>
    <app-ne-menus [menus]="menus" (actived)="onActivedSubMenu($event)"></app-ne-menus>
  </d-aside>
  <d-layout>
    <d-header>
      <app-ne-header [menus]="tabs"></app-ne-header>
    </d-header>
    <d-content class="layout-wrapper-content">
      <router-outlet></router-outlet>
    </d-content>
    <d-footer>
      <div class="item">
        <fa-icon [icon]="faAt"></fa-icon>
        <span class="author">Sitdown.liu</span>
      </div>
      <div class="item">
        <span class="name">
          <fa-icon [icon]="faQq"></fa-icon>
          QQ群：
        </span>
        <span class="text">219839971</span>
      </div>
      <div class="item">
        <span class="name">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          Email：
        </span>
        <span class="text">sitdown.liu@gmail.com</span>
      </div>
    </d-footer>
  </d-layout>
</d-layout>
