node_modules
.DS_Store
dist
dist-ssr
*.local
.exe/
output/
data/*
/logs/*
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

