/* You can add global styles to this file, and also import other style files */
@import '~ng-devui/devui-layout.css';
@import '~@devui-design/icons/icomoon/devui-icon.css';

#ne-header-tabs {
  width: 65vw;
  height: 40px;

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
  }

  .devui-nav-container {
    .dev-nav-scroll-container {
      .devui-nav {
        .devui-nav-tab-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
