/* You can add global styles to this file, and also import other style files */
@import '~ng-devui/devui-layout.css';
@import '~@devui-design/icons/icomoon/devui-icon.css';
@import '~ng-devui/styles-var/devui-var.scss';

#ne-header-tabs {
  width: 75%;
  height: 40px;

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
  }

  .devui-nav-container {
    .dev-nav-scroll-container {
      .devui-nav {
        .devui-nav-tab-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.ne-tools-user-dropdown-menu {
  // padding: 10px;
  padding-bottom: 15px;

  .title {
    padding: 25px 15px 15px 15px;
    color: $devui-feedback-overlay-text;
    margin: 0;
  }

  .item {
    margin: 0 !important;
    padding-left: 15px !important;
    display: flex !important;
    align-items: center !important;

    .text {
      padding-left: 10px;
    }
  }
}
