.ne-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tools {
    width: 18vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .tools-item {
      padding: 0 8px;
    }
  }
}
