.ne-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tools {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tools-left,
    .tools-right {
      display: flex;
      align-items: center;
      .tools-item {
        padding: 0 8px;
      }
    }

    .tools-right {
      justify-content: flex-end;
    }
  }
}
