<div class="ne-header">
  <div class="tabs" id="ne-header-tabs">
    <d-tabs
      [type]="'wrapped'"
      [size]="'md'"
      [scrollMode]="true"
      [closeable]="true"
      [closeableIds]="deleteTabIds"
      [activeTab]="tabActiveId"
      (addOrDeleteTabChange)="deleteTab($event, 'wrapped')"
      (activeTabChange)="activeTabChange($event)"
    >
      <d-tab *ngFor="let item of tabs" [id]="item.id" [title]="item.title"></d-tab>
    </d-tabs>
  </div>
  <div class="tools">
    <div class="tools-left">
      <div class="tools-item">
        <app-ne-tools-theme></app-ne-tools-theme>
      </div>
      <div class="tools-item">
        <app-ne-tools-setting></app-ne-tools-setting>
      </div>
      <div class="tools-item">
        <app-ne-tools-git></app-ne-tools-git>
      </div>
    </div>
    <div class="tools-right">
      <div class="tools-item">
        <app-ne-tools-user></app-ne-tools-user>
      </div>
      <div class="tools-item">
        <app-ne-tools-help></app-ne-tools-help>
      </div>
    </div>
  </div>
</div>
